/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*/

/* for some reason this just refuses to work if you use a class */
:root {
  background-color: white;
  color: black;
  --border-col: black;
  --light-color: #242424;
  --light-background: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
}

/* If user prefers a dark appearance */
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    --border-col: white;
  }
}

body {
  margin: 0;
}

.img-resize {
  max-width: 500px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

optgroup {
  font-size: 75px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "side content";

  height: 100vh;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.side {
  grid-area: side;
  margin-left: 10px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
  grid-template-areas: "side-settings" "side-btns";
}

.side-settings {
  grid-area: side-settings;
  margin-top: 15px;
}

.side-btns {
  grid-area: side-btns;
}

.side-btn {
  width: 100%;
  cursor: pointer;
  padding: 5px;
}

.side-btn:hover {
  border: 2px solid var(--border-col);
  border-radius: 40px;
}

.content {
  grid-area: content;
}

.home-mobile-sub {
  display: none;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
  text-decoration: none;
}

.multi-option-button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* component css */
.max-width {
  max-width: 100%;
}

.full-width {
  width: 100%;
  text-align: center;
}

.large-text {
  font-size: 3em;
}

.spacing {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.component-input-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 3vh 0;
}

.component-var-name {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component-var-name > p {
  margin: 0;
}

.component-var-input {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: -1vh;
}

.component-var-value {
  grid-column: 3;
  text-align: center;
  align-self: center;
}

.component-output-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3vh 0;
}

.component-output-var-name {
  grid-column: 1;
}

.component-output-var-value {
  grid-column: 2;
}

// mobile
@media only screen and (max-width: 600px) {
  .home-mobile-sub {
    display: block;
  }

  .home-desktop-sub {
    display: none;
  }
}
